<div class="login-container d-flex align-items-center justify-content-center">
  <div class="card login-card p-4">
    <div class="text-center mb-4">
      <img src="/images/logo-student-currency.png"
           alt="Logo Moeda Estudantil"
           class="auth-logo mb-2">
      <h4 class="fw-bold">Moeda Estudantil</h4>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <input type="email"
               formControlName="email"
               class="form-control"
               id="loginEmail"
               placeholder="Email" required>
        <label for="loginEmail">
          <i class="bi bi-person-fill me-1"></i> Email
        </label>
      </div>

      <div class="form-floating mb-3">
        <input type="password"
               formControlName="password"
               class="form-control"
               id="loginPassword"
               placeholder="Senha" required>
        <label for="loginPassword">
          <i class="bi bi-lock-fill me-1"></i> Senha
        </label>
      </div>


      <button type="submit"
              class="btn btn-primary btn-lg btn-rounded w-100 mb-2">
        Entrar
      </button>
    </form>

    <div class="text-center">
      <small class="text-muted">
        Não possui conta?
        <a routerLink="/register"
           class="text-primary fw-semibold">
          Cadastre-se
        </a>
      </small>
    </div>
  </div>
</div>
